@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ad1deb, #6e72fc);
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3 {
    color: #f8f8f8;
}
